$primaryColor: #fff;
$mainColor: #838A98;
$accentColor: #0E0E0E;
$placeholderColor: #A8B5C8;

$borderColorDefault: #E6E6E6;
$borderColorAccent: #2D64E3;
$borderColorError: #DC2626;
$borderColorsuccessful: #16A258;

$borderRadius: 4px;